<div class="ms-3">
  <h1 style="font-family: 'Courier New'">
    {{ userService.currentUserTeamA }} vs {{ userService.currentUserTeamB }}
  </h1>
</div>
 
<div class="container skillsContainer">
  <span class="d-flex justify-content-around">
    <button type="button" class="btn btn-light" (click)="wk()">
      Wicket Keeper
    </button>
    <button type="button" class="btn btn-light" (click)="batter()">
      Batter
    </button>
    <button type="button" class="btn btn-light" (click)="bowler()">
      Bowler
    </button>
    <button type="button" class="btn btn-light" (click)="allrounder()">
      All Rounder
    </button>
  </span>
</div>
<br />

<div class="container"><router-outlet></router-outlet></div>
<br /><br /><br /><br />
<br /><br /><br /><br />
