<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>
  <br />
 
  <br />

  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br /><br />
    <div class="d-flex justify-content-center">
      <h1 class="display-6">Create Match Fixtures</h1>
    </div>
    <br /><br />

    <form
      action=""
      class="justify-content-center"
      [formGroup]="fixtureform"
      (ngSubmit)="onFormSubmit()"
    >
      <!-- Team Dropdown-->
      <div>
        <div class="d-flex justify-content-around">
          <!-- Team 1 -->
          <div style="margin-top: 2em">
            <select
            (click)="clicked1()"
            style="width: 200px; height: 50px"
            formControlName="team1"
            id="cars"
            >
            <option value="">Choose team 1</option>
            <option *ngFor="let fix of selectedTeam1" value="{{ fix }}">
              {{ fix }}
            </option>
            <option value="Yet to be Announced">Yet To be Announced</option>
            </select>

            <div>
              <span [hidden]="team1.valid || team1.untouched">
                <div class="validation" [hidden]="!team1.hasError('required')">
                  <span class="validationStar">*</span> Team Name is required.
                  <br />
                  Please Select it from Dropdown
                </div>
              </span>
            </div> 
            
          </div>
 
          <!-- Team 2 -->
          <div style="margin-top: 2em">





            <select
              style="width: 200px; height: 50px"
              formControlName="team2"
              id="cars"
              (click)="clicked2()"
            >
              <option value="">Choose team 2</option>
              <option value="Yet to be Announced">Yet To be Announced</option>

              <option *ngFor="let fix of selectedTeam2" value="{{ fix }}"> 
                {{ fix }}
              </option>
            </select>











            
            <div>
              <span [hidden]="team2.valid || team2.untouched">
                <div class="validation" [hidden]="!team2.hasError('required')">
                  <span class="validationStar">*</span> Team Name is required.
                  <br />
                  Please Select it from Dropdown
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <br />

      <!-- Venue -->
 
      <div class="d-flex justify-content-around">
        <div style="margin-top: 2em">
          <select
            style="width: 200px; height: 50px"
            formControlName="venue"
            id="cars"
          >
            <option value="">Choose Match Venue</option>

            <option value="M.A.Chidambaram,Chennai-India">
              M.A.Chidambaram,Chennai-India
            </option>
            <option value="Wankhede,Mumbai-India">Wankhede,Mumbai-India</option>
            <option value="Eden Gardens,Kolkata-India">
              Eden Gardens,Kolkata-India
            </option>
            <option value="M.Chinnaswamy,Bengaluru-India">
              M.Chinnaswamy,Bengaluru-India
            </option>
          </select>

          <!-- venue Validiation -->
          <div>
            <span [hidden]="venue.valid || venue.untouched">
              <div class="validation" [hidden]="!venue.hasError('required')">
                <span class="validationStar">*</span> Match Venue is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </div>
        </div>

        <!-- Stage -->
        <div style="margin-top: 2em">
          <select
            style="width: 200px; height: 50px"
            formControlName="stage"
            id="cars"
          >
            <option value="">Choose League stage</option>

            <option value="League Match">League Match</option>
            <option value="Quarter-Final">Quarter-Final</option>
            <option value="Semi-Final">Semi-Final</option>
            <option value="FINAL">FINAL</option>
          </select>

          <!-- stage Validiation -->
          <div>
            <span [hidden]="stage.valid || stage.untouched">
              <div class="validation" [hidden]="!stage.hasError('required')">
                <span class="validationStar">*</span> League Stage is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </div>
        </div>

        <!-- Date Time -->
        <div style="margin-top: 2em">
          <input
            style="width: 200px; height: 50px"
            type="datetime-local"
            value="2023-08-11T19:30"
            formControlName="datetime"
          />
          <div>
            <!-- Date Time Validation -->
            <span [hidden]="datetime.valid || datetime.untouched">
              <div class="validation" [hidden]="!datetime.hasError('required')">
                <span class="validationStar">*</span> Match Date and Time is
                required.
                <br />
                Please Select it from Date Time Box
              </div>
            </span>
          </div>
        </div>
      </div>
      <br />


      <!-- Submit Button -->
      <div class="submitBtn d-flex justify-content-around">
        <button
          type="submit"
          [disabled]="!fixtureform.valid"
          class="btn btn-success"
        >
          Submit
        </button>
        <button (click)="cancel()" class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>
