<div class=""> 
  <div class="login-container">
    <!-- User Nav bar -->
    <div class="text-end d-flex justify-content-end ">
      <button class="btn btn-secondary mt-3 me-3" (click)="rules()" >
        Rules and Points
      </button> 
      <div class="dropdown">
        <button
          class="btn btn-secondary  mt-3 me-3"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg>  
        </button> 
        <ul style="font-family: 'Courier New'"  class="dropdown-menu hhh"   aria-labelledby="dropdownMenuButton1">
          <div><h4 style="font-weight: bold"  class="text-center">{{this.userService.appPropName}}</h4></div>
          <div style="font-family: 'Courier New'" class="col d-flex justify-content-between container">
            <div class="me-3" >
              <p style="font-weight: bold">Batting Points</p>
              <p>Run: {{ baPoRuns }}</p>
              <p>Boundary: {{ baPoBoundary }}</p>
              <p>Six: {{ baPoSix }}</p>

              <p style="font-weight: bold">Bowling Points</p>
              <p>Wicket: {{ boPoWicket }}</p>
              <p>Dot ball: {{ boPoDot }}</p>
            </div>
            <div >
              <p style="font-weight: bold">Fielding Points</p>
              <p>Boundary: {{ fiPoBoundary }}</p>
              <p>Six: {{ fiPoSix }}</p>
              <p>Catch: {{ fiPoCatch }}</p>
              <p style="font-weight: bold">Other Points</p>
              <p>Captain: {{ oTPoCap }}</p>
              <p>Wicket Keeper: {{ oTPoWK }}</p>
            </div>
          </div>
        </ul>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary  mt-3 me-3"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21"
            fill="currentColor"
            class="bi bi-person-square"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"
            />
          </svg>
          {{ finalCurrentUser?.firstname }}
          {{ finalCurrentUser?.lastname }}
        </button>
        <ul class="dropdown-menu "  aria-labelledby="dropdownMenuButton1">

            <li>
              <span class="d-flex justify-content-between">
              <p>Username:</p>
              <p style="font-weight: bold">
                {{ finalCurrentUser?.username }}
              </p>
              &nbsp;
            </span>
          </li>
          <li>
            <span class="d-flex justify-content-between">
              <p>Name:</p>
              <p style="font-weight: bold">
                {{ finalCurrentUser?.firstname }}
                {{ finalCurrentUser?.lastname }}
              </p>
              &nbsp;
            </span>
          </li>
          <li>
            <span class="d-flex justify-content-between">
              <p>Phone No:</p>
              &nbsp;
              <p style="font-weight: bold">
                {{ finalCurrentUser?.mobile }}
              </p>
              &nbsp;
            </span>
          </li>
          <li>
            <span class="d-flex justify-content-between">
              <p>Email:</p>
              &nbsp;
              <p style="font-weight: bold">
                {{ finalCurrentUser?.email }}
              </p>
              &nbsp;
            </span>
          </li>
          <li class="d-flex justify-content-between">
            <p></p>
            <a class="ahover" (click)="logout()"
            >Logout &nbsp;<svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            fill="currentColor"
            class="bi bi-box-arrow-left"
            viewBox="0 0 16 16"
            >
            <path
            fill-rule="evenodd"
            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
            />
            <path
            fill-rule="evenodd"
            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
            /></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  
  <router-outlet></router-outlet>
</div>