input {
    display: block;
    margin: auto auto;
    width: 35%;
    margin-top: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 2px solid rgb(28, 255, 20);
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
    &:hover {
      &:hover {
        background-color: rgb(255, 171, 171);
      }
    }
  }
  .validation {
    color: rgb(255, 255, 255);
  }
  .validationStar {
    color: rgb(255, 4, 4);
    font-weight: bold;
    font-size: 1.5em;
  }

  .submitBtn {
    display: block;
    margin: auto auto;
    width: 50%;
    // margin-bottom: 2em;
    padding: 0.5em 5px;
    border: none;
    padding-top: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
 
  