<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>
  <br /> 
  <br />
  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br />
    <div class="d-flex justify-content-around">
      <h1 class="display-6">Players</h1>
      <button (click)="createPlayer()" class="btn btn-primary">
        New Player 
      </button>
      <!-- </form> -->
    </div>
    <br /><br />

<span  *ngIf="editStatus">


    <table
      class="table table-dark table-hover table-striped"
     
    >
      <thead class="text-light bg-dark">
        <tr>
          <th scope="col">ID</th> 
          <th scope="col">Name</th>
          <th scope="col">Team</th>
          <th scope="col">Skills</th>
          <th scope="col">Player Points</th> 
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr> 
      </thead>
 
      <tbody>
        <tr *ngFor="let user of allplayers | paginate:{
          itemsPerPage : 9, currentPage : pageNumber
        } ">
          <td>
            <span>{{ user.id }}</span>
          </td>
          <td>
            <span>{{ user.name }}</span>
          </td>
          <td>
            <span>{{ user.team_name }}</span>
          </td> 
          <td>
            <span>{{ user.skills }}</span>
          </td>
          <td>
            <span>{{ user.points }}</span>
          </td>

          <td>
            <span type="text">
              <button class="btn btn-success pt-1" (click)="edit(user)">
                <!-- Edit -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pen-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
                  />
                </svg>
              </button>
            </span>
          </td>
 
          <td>
            <button class="btn btn-danger pt-1" (click)="delete(user)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="pageNumber = $event" >
    </pagination-controls>
  </span>


    <!-- Player Edit Form -->

    <form [formGroup]="editTable" *ngIf="!editStatus">
      <h3 class="display-6 kkk" style="font-size: 28px">
        <u>Edit Player Data</u>
      </h3>

      <!-- name -->
      <input
        type="text"
        placeholder="Enter Player Name"
        class="form-control"
        formControlName="name"
      />
      <div class="d-flex justify-content-center">
        <span [hidden]="name.valid || name.untouched">
          <div class="validation" [hidden]="!name.hasError('minlength')">
            <span class="validationStar">*</span> Player Name cannot be less
            than 4 characters.
          </div>
          <div class="validation" [hidden]="!name.hasError('required')">
            <span class="validationStar">*</span> Player Name is required.
          </div>
        </span>
      </div>
      <!-- team Name -->
      <div class="d-flex justify-content-center" style="margin-top: 2em">
        <select
          name="cars"
          style="width: 35%; height: 50px"
          formControlName="team_name"
          id="cars"
        >
          <option value="">Chooses team name</option>

          <option *ngFor="let team of teams" value="{{ team.name }}">
            {{ team.name }} <img src="{{ team.logo }}" alt="" />
          </option>
        </select> 
      </div>

      <!-- Team Name validation -->
      <div class="d-flex justify-content-center">
        <span [hidden]="team_name.valid || team_name.untouched">
          <div class="validation" [hidden]="!team_name.hasError('required')">
            <span class="validationStar">*</span> Team Name is required. Please
            Select it from Dropdown
          </div>
        </span>
      </div>
      <!-- skills -->
         
      <div class="d-flex justify-content-center" style="margin-top: 2em">
        <select style="width: 35%; height: 50px" formControlName="skills">
          <option value="">Choose Player Skills</option>
          <option value="Batter">Batter</option>
          <option value="Bowler">Bowler</option>
          <option value="All Rounder">All Rounder</option>
          <option value="Wicket Keeper">Wicket Keeper</option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <span [hidden]="skills.valid || skills.untouched">
          <div class="validation" [hidden]="!skills.hasError('required')">
            <span class="validationStar">*</span> Skills is required.
          </div>
        </span>
      </div>

      <!-- Player Points -->
      <input type="text" class="form-control" formControlName="points" />

      <div class="d-flex justify-content-center">
        <span [hidden]="points.valid || points.untouched">
          <div class="validation" [hidden]="!points.hasError('required')">
            <span class="validationStar">*</span> Points is required.
          </div>
        </span> 
      </div>
      <!-- Submit -->
      <div class="submitBtn d-flex justify-content-center">
        <button type="submit" class="btn btn-success me-5" (click)="save()"           [disabled]="!editTable.valid"
        >
          Save
        </button>
        <button type="submit" class="btn btn-danger" (click)="cancel()">
          Cancel
        </button>
      </div>
    </form>
    <br />
    <div class="d-flex justify-content-around">
      <button (click)="createPlayer()" class="btn btn-primary">
        New Player
      </button>
    </div>
  </div>
</div>
