
<br>
<div style="font-family: 'Courier New'">
  <ul  class="d container hhh">
    <div>
      <h4 style="font-weight: bold" >
        {{ this.userService.appPropName }}
      </h4>
    </div>
    <div
      style="font-family: 'Courier New'"
      class="col d-flex justify-content-between text-light  container"
    >
      <div class="me-3">
        <p style="font-weight: bold">Batting Points</p>
        <p>Run: {{ this.userService.baPoRuns }}</p>
        <p>Boundary: {{ this.userService.baPoBoundary }}</p>
        <p>Six: {{ this.userService.baPoSix }}</p>
      </div>
      <div>
        <p style="font-weight: bold">Bowling Points</p>
        <p>Wicket: {{ this.userService.boPoWicket }}</p>
        <p>Dot ball: {{ this.userService.boPoDot }}</p>
      </div>
      <div>
        <p style="font-weight: bold">Fielding Points</p>
        <p>Boundary: {{ this.userService.fiPoBoundary }}</p>
        <p>Six: {{ this.userService.fiPoSix }}</p>
        <p>Catch: {{ this.userService.fiPoCatch }}</p>
      </div>
      <div>
        <p style="font-weight: bold">Other Points</p>
        <p>Captain: {{ this.userService.oTPoCap }}</p>
        <p>Wicket Keeper: {{ this.userService.oTPoWK }}</p>
      </div>
    </div>
  </ul>
  <div class="container">
    <h4 style="font-weight: bold" >
        Rules
      </h4>
<span class="text-light">
    
    <li>{{this.userService.rule1}}</li>
    <li>{{this.userService.rule2}}</li>
    <li>{{this.userService.rule3}}</li>
    <li>{{this.userService.rule4}}</li>
</span>
  </div>
</div>
