.artboard {
  display: flex;
  height: 100%;
  position: relative;
}
.card {
  flex: initial;
  position: relative;
  height: 5rem;
  background-color: rgb(0, 195, 255);
  width: 58rem;
  margin: 1rem;

  &__side {
    height: 5rem;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    // overflow: hidden;
    box-shadow: 0 2rem 6rem rgba(black, 0.15);

    &--front {
      background-image: url("https://imgv3.fotor.com/images/share/Free-blue-gradient-pattern-background-from-Fotor.jpg");
    }

    &--back {
      background-image: url("https://imgv3.fotor.com/images/share/Free-blue-gradient-pattern-background-from-Fotor.jpg");
      transform: rotateX(180deg);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
}
