<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>
  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br />
    <div class="d-flex justify-content-center">
      <h4 class="display-5">All Users Mapped Contests</h4>
    </div>

    <div style="font-family: 'Courier New'">
      <div *ngFor="let item of userMappedcontests" class="artboard">
        <div class="card">
          <div class="col card__side card__side--back">
            <span *ngFor="let itemm of item.userPlayerData">
              <span class="ms-2">
                {{ itemm.name }}({{ itemm.id }}) &nbsp;
              </span>
            </span>
          </div>

          <div class="card__side card__side--front">
            <span class="d-flex ms-2 me-2 mt-1 justify-content-between">
              <h5 class="ms-1">User Id : {{ item.userid }}</h5>
              <h5>Contest Id : {{ item.contestid }}</h5>
              <h5>Match Id : {{ item.matchid }}</h5>
            </span>
            <span class="d-flex justify-content-between">
              <h4> Captain :{{ item.isCaptain }} </h4> &nbsp;&nbsp; <h4> Wicket Keeper :{{ item.isWicketKeeper }}</h4>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
