<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>
  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br />
    <div class="d-flex justify-content-center">
      <h1 class="display-5">All Users</h1>
    </div>
    <br /><br /><br />
    <form [formGroup]="editTable">
      <table class="table">
        <thead class="text-light bg-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile number</th> 
            <th scope="col">Edit/Save</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
 
        <tbody>
          <tr *ngFor="let user of allUsers; let i = index">
            <td>
              <span>{{ user.id }}</span>
            </td>

            <td>
              <span *ngIf="!editStatus || editProductIndex !== i">{{
                user.firstname
              }}</span>

              <input
                *ngIf="editStatus && editProductIndex == i"
                type="text"
                class="form-control"
                formControlName="firstname"
              />
            </td>
            <td>
              <span *ngIf="!editStatus || editProductIndex !== i">{{
                user.lastname
              }}</span>

              <input
                *ngIf="editStatus && editProductIndex == i"
                type="text"
                class="form-control"
                formControlName="lastname"
              />
            </td>
            <td>
              <span *ngIf="!editStatus || editProductIndex !== i">{{
                user.username
              }}</span>

              <input
                *ngIf="editStatus && editProductIndex == i"
                type="text"
                class="form-control"
                formControlName="username"
              />
            </td>
            <td>
              <span *ngIf="!editStatus || editProductIndex !== i">{{
                user.email
              }}</span>

              <input
                *ngIf="editStatus && editProductIndex == i"
                type="text"
                class="form-control"
                formControlName="email"
              />
            </td>
            <td>
              <span *ngIf="!editStatus || editProductIndex !== i">{{
                user.mobile
              }}</span>

              <input
                *ngIf="editStatus && editProductIndex == i"
                type="text"
                class="form-control"
                formControlName="mobile"
              />
            </td> 

            <td>
              <span *ngIf="!editStatus || editProductIndex !== i" type="text">
                <button class="btn btn-success pt-1" (click)="edit(i, user)">
                  <!-- Edit -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pen-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
                    />
                  </svg>
                </button>
              </span>

              <span *ngIf="editStatus && editProductIndex == i">
                <button class="btn btn-primary pt-1" (click)="save()">
                  <!-- save -->

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check-square-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"
                    />
                  </svg></button
              ></span>
            </td>

            <td>
              <button class="btn btn-danger pt-1" (click)="delete(i, user)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-x-square-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                  />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
