<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>

  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br />
    <div class="d-flex justify-content-center">
      <h1 class="display-6">Map Contest & Fixture</h1>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 2em">
      <form
        action=""
        class="justify-content-center"
        [formGroup]="mapform"
        (ngSubmit)="onFormSubmit()"
      >
        <!-- Fixture Select -->

        <div class="d-flex justify-content-center">
          <span>
            <select
              formControlName="fixturedata"
              (click)="fixdata()"
              style="width: 200px; height: 50px"
              id="cars"
            >
              <option value=""  selected>
                Choose Fixture
              </option>

              <option
                
                *ngFor="let fixtures of allFixtures"
                [value]="
                  fixtures.team1 + '-' + fixtures.team2 + '-' + fixtures.id
                "
              >
                {{ fixtures.team1 }} vs {{ fixtures.team2 }}
              </option>
            </select>

            <span [hidden]="fixturedata.valid || fixturedata.untouched">
              <div
                class="validation"
                [hidden]="!fixturedata.hasError('required')"
              >
                <span class="validationStar">*</span> Fixture is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </span>

          <!-- Contest Select -->

          <span>
            <select
              class="ms-3"
              style="height: 50px; width: 200px"
              formControlName="contestdata"
              (click)="fixdata()"
            >
              <option value="" selected>Choose Contest</option>

              <option
                *ngFor="let contests of allContests"
                [value]="contests.contestname + '-' + contests.id"
              >
                {{ contests.contestname }}
              </option>
            </select>

            <span [hidden]="contestdata.valid || contestdata.untouched">
              <div
                class="validation"
                [hidden]="!contestdata.hasError('required')"
              >
                <span class="validationStar">*</span> Contest Name is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </span>
        </div>
        <div>
          <span *ngIf="mapNameStatus">
            <span class="validationStar" userNameStatus>*</span>
            <span class="validation">
              These Match and Contest Are Already mapped. Please Select
              another.</span
            >
          </span>
        </div>

        <br />
        <br />
        <div class="d-flex justify-content-around">
          <button
            type="submit"
            type="submit"
            [disabled]=" !mapform.valid || mapNameStatus " 
            class="btn-success btn"
          >
            Add
          </button>
        </div>
      </form>
    </div>

    <br />

    <table class="table table-dark table-hover table-striped">
      <thead class="text-light bg-dark">
        <tr>
          <th scope="col">ID</th>

          <th scope="col">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Match</th>
          <th scope="col">Match ID</th>
          <th scope="col">Contest</th>
          <th scope="col">Contest ID</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of mappedContest">
          <td>
            <span>{{ user.id }}</span>
          </td>

          <td>
            <span>{{ user.team1 }} &nbsp; vs &nbsp;{{ user.team2 }}</span>
          </td>
          <td>
            <span>{{ user.matchid }}</span>
          </td>
          <td>
            <span>{{ user.contestname }}</span>
          </td>
          <td>
            <span>{{ user.contestid }}</span>
          </td>

          <td>
            <button class="btn btn-danger pt-1" (click)="delete(user)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
