<!-- Sidebar -->
<div class="d-flex flex-row">
  <div class="w3-light-grey w3-bar-block" style="width: 25%">
    <app-admin></app-admin>
  </div>

  <br />
  <br /> 

  <div class="container">
    <div><app-alldata></app-alldata></div>
    <br />
    <div class="d-flex justify-content-around">
      <h1 class="display-6">Match Fixtures</h1>
      <button (click)="createFixture()" class="btn btn-primary">
        New Match
      </button>
      <!-- </form> -->
    </div> 
    <br>
 
    <table
      class="table table-dark table-hover table-striped"
      *ngIf="editStatus"
    >
      <thead class="text-light bg-dark">
        <tr>
          <th [hidden]="true" scope="col">ID</th>
          <!-- <th scope="col">League Stage</th> -->
          <th scope="col">Match number</th>
          <th scope="col">Team A</th>
          <th scope="col"></th>
          <th scope="col">Team B</th>
          <th scope="col">Venue</th>
          <th scope="col">League Stage</th>
          <th scope="col">&nbsp;&nbsp;Time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of fixtures ; let i=index">
          <td [hidden]="true">
            <span>{{ user.id }}</span>
          </td>
          <!-- <td >
            <span>{{ user.id }}</span>
          </td> -->
          <td >
            <span>{{ i +1 }}</span>
          </td>
          <td>
            <span>{{ user.team1 }}</span>
          </td>
          <td>vs   </td>
          <td>
            <span>{{ user.team2 }}</span>
          </td>
          <td>
            <span>{{ user.venue }}</span>
          </td>
          <td>
            <span>{{ user.stage }}</span>
          </td>
          <td>
            <span>{{ user.datetime  | date:'shortTime'}}</span>
            &nbsp;&nbsp;&nbsp;
            <span>{{ user.datetime  | date:'mediumDate'}}</span>
          </td>
          <td>
            <span type="text">
              <button class="btn btn-success pt-1" (click)="edit(user)">
                <!-- Edit -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16" 
                  fill="currentColor"
                  class="bi bi-pen-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
                  />
                </svg>
              </button>
            </span>
          </td>

          <td>
            <button class="btn btn-danger pt-1" (click)="delete(user)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-x-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"
                />
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>



    <!-- Edit Fixtures FORM -->
   
    <form
      action=""
      class="justify-content-center"
      [formGroup]="fixtureform"
      (ngSubmit)="onFormSubmit()"
      *ngIf="!editStatus"
    >
      <!-- Team Dropdown-->
      <div>
        <div class="d-flex justify-content-around">
          <!-- Team 1 -->
          <div style="margin-top: 2em">
            <select
              style="width: 200px; height: 50px"
              formControlName="team1"
              id="cars"
              (click)="clicked1()"
            >
              <option value="">Choose team 1</option>

              <option *ngFor="let fix of selectedTeam1" value="{{ fix }}">
                {{ fix }}
              </option>
              <option value="Yet to be Announced">Yet To be Announced</option>

            </select>
            <div>
              <span [hidden]="team1.valid || team1.untouched">
                <div class="validation" [hidden]="!team1.hasError('required')">
                  <span class="validationStar">*</span> Team Name is required.
                  <br />
                  Please Select it from Dropdown
                </div>
              </span>
            </div>
          </div>
          <!-- Team 2 -->
          <div style="margin-top: 2em">
            <select 
              style="width: 200px; height: 50px"
              formControlName="team2"
              id="cars"
              (click)="clicked2()"

            >
              <option value="">Choose team 2</option>

              <option *ngFor="let fix of selectedTeam2" value="{{ fix }}">
                {{ fix }}
              </option>
              <option value="Yet to be Announced">Yet To be Announced</option>

            </select>
            <div>
              <span [hidden]="team2.valid || team2.untouched">
                <div class="validation" [hidden]="!team2.hasError('required')">
                  <span class="validationStar">*</span> Team Name is required.
                  <br />
                  Please Select it from Dropdown
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <br />

      <!-- Venue -->

      <div class="d-flex justify-content-around">
        <div style="margin-top: 2em">
          <select
            style="width: 200px; height: 50px"
            formControlName="venue"
            id="cars"
          >
            <option value="">Choose Match Venue</option>

            <option value="M.A.Chidambaram,Chennai-India">M.A.Chidambaram,Chennai-India</option>
            <option value="Wankhede,Mumbai-India">Wankhede,Mumbai-India</option>
            <option value="Eden Gardens,Kolkata-India">Eden Gardens,Kolkata-India</option>
            <option value="M.Chinnaswamy,Bengaluru-India">M.Chinnaswamy,Bengaluru-India</option>
          </select>

          <!-- venue Validiation -->
          <div>
            <span [hidden]="venue.valid || venue.untouched">
              <div class="validation" [hidden]="!venue.hasError('required')">
                <span class="validationStar">*</span> Match Venue is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </div> 
        </div>
        <div style="margin-top: 2em">
          <select
            style="width: 200px; height: 50px"
            formControlName="stage"
            id="cars"
          >
            <option value="">Choose League stage</option>

            <option value="League Match">League Match</option>
            <option value="Quarter-Final">Wankhede,Quarter-Final</option>
            <option value="Semi-Final">Semi-Final</option>
            <option value="FINAL">FINAL</option>
          </select>

          <!-- stage Validiation -->
          <div>
            <span [hidden]="stage.valid || stage.untouched">
              <div class="validation" [hidden]="!stage.hasError('required')">
                <span class="validationStar">*</span> League Stage is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </div>
        </div>

        <!-- Date Time -->
        <div style="margin-top: 2em">
          <input
            style="width: 200px; height: 50px"
            type="datetime-local"
            value="2023-08-11T19:30"
            formControlName="datetime"
          />
          <div>
            <!-- Date Time Validation -->
            <span [hidden]="datetime.valid || datetime.untouched">
              <div class="validation" [hidden]="!datetime.hasError('required')">
                <span class="validationStar">*</span> Team Name is required.
                <br />
                Please Select it from Dropdown
              </div>
            </span>
          </div> 
        </div>
      </div>
      <br />
      <!-- Submit Button -->
      <div class="container">

        <div class="submitBtn d-flex justify-content-around">
          <button
          type="submit"
          [disabled]="!fixtureform.valid"
          class="btn btn-success"
          (click)="save()"
        >
          Save
        </button>
        <button (click)="cancel()" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    </form>

  </div>
</div>
