<div class="d-flex justify-content-around">
  <h4 class="text-light" style="font-family: 'Courier New'">
    Available Players ({{ CurrentContestPlayerslength }})
  </h4>
</div>

<div *ngIf="PlayerArrayWKStatus" class="validation">
  <span class="validationStar">*</span> Team Should have Atleast Wicket Keeper.
</div>
<div *ngIf="PlayerArrayLengthStatus" class="validation">
  <span class="validationStar">*</span> Team Should have 10 players.
</div>
<div *ngIf="PlayerPointsStatus" class="validation">
  <span class="validationStar">*</span> Team Points should be Lesser than or
  equal to 100 Points.
</div>
<div *ngIf="TeamArrayMaxLengthStatus" class="validation">
  <span class="validationStar">*</span> Pick Atmost 7 players in Each Team
</div>

<table class="table table-light te table-hover table-striped">
  <thead class="text-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Skills</th>
      <th scope="col">Player Points</th>
      <th scope="col">Add</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let players of this.playerService.SkilledPlayers">
      <td>
        <span>{{ players.id }}</span>
      </td>
      <td>
        <span>{{ players.name }} [{{ players.team_name }}]</span>
      </td>
      <td>
        <span>{{ players.skills }}</span>
      </td>
      <td>
        <span>{{ players.points }}</span>
      </td>
      <td>
        <svg
          (click)="edit(players)"
          xmlns="http://www.w3.org/2000/svg"
          width="31"
          fill="green"
          class="bi bi-plus-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
          />
        </svg>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-around">
  <h4 class="text-light" style="font-family: 'Courier New'">
    Added Players <span> ({{ this.conService.playersArray.length }}/10) </span>
  </h4>
  <span>
    <h4 *ngIf="AllStatusTick">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        fill="rgb(0, 255, 55)"
        class="bi bi-patch-check-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"
        />
      </svg>
    </h4>
    <h4 *ngIf="AllStatusFalse">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        fill="rgb(255, 96, 96)"
        class="bi bi-exclamation-octagon-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
    </h4>
  </span>

  <h4 class="text-light" style="font-family: 'Courier New'">
    Total Points <span> ({{ this.sum }}/100) </span>
  </h4>
</div>


<!-- Added plyesrs` -->
<table class="table table-light te table-hover table-striped">
  <thead class="text-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Skills</th>
      <th scope="col">Player Points</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let players of this.conService.playersArray">
      <td>
        <span>{{ players.id }}</span>
      </td>
      <td>
        <span>{{ players.name }} [{{ players.team_name }}]</span>
      </td>
      <td>
        <span>{{ players.skills }}</span>
      </td>
      <td>
        <span>{{ players.points }}</span>
      </td>

      <td>
        <svg
          (click)="remove(players)"
          xmlns="http://www.w3.org/2000/svg"
          width="31"
          fill="red"
          class="bi bi-dash-square-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"
          />
        </svg>
      </td>
    </tr>
  </tbody>
</table>

<form
      class="justify-content-center"
      [formGroup]="chooseForm"
      (ngSubmit)="onFormSubmit()"
    >
<div class="d-flex justify-content-around">
  <span>
    <select class="btn btn-light" formControlName="isCaptain" name="" id="">
      <option selected value="">Choose Captain</option>
      <option *ngFor="let players of this.conService.playersArray" value="{{ players.name }}">{{ players.name }}</option>
    </select></span>
    <span>
      <select class="btn btn-light" formControlName="isWicketKeeper" name="" id="">
        <option selected value="">Choose Main Wicket Keeper</option>
        <option *ngFor="let player of this.conService.wKArray" value="{{ player.name }}">{{ player.name }}</option>
      </select>
    </span>
</div>
<div class="d-flex justify-content-around">
  <button [disabled]="!chooseForm.valid"  type="submit" class="btn btn-success pt-1" (click)="saveUserContest()">
    Save Team
  </button>
</div>
</form>

