.invalid{
    color: #ffffff;
}


.llll {
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.727);
}

.llll:hover {
  box-shadow: 6px 6px 5px rgba(86, 86, 86, 0.727);
    
    transform: scale(1.04); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

  input {
    display: block;
    margin: auto auto;
    width: 35%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 2px solid #ff0000;
    padding-bottom: 1.25em;
    color: #000000;
    &:focus {
      outline: none;
    }
  }
  .submitBtn{
    display: block;
    margin: auto auto;
    width: 50%;
    margin-bottom: 2em;
    padding: 0.5em 5px;
    border: none;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
