

<nav class="align-self-stretch" style="background-color: #cce8fc"  height="100%" class="navbars ">
  
    <div >
    <br>
    <div class="d-flex justify-content-center">
<h4></h4>
  
      <h4 class="display-6 " >

        Admin Panel
        
      </h4>
    </div>
    <br>

    <div (click)="fixtures()" class=" d-flex justify-content-center create"> 
    <h4>Match Fixtures</h4>
    </div>
    <br>

    <div (click)="result()" class=" d-flex justify-content-center create">
      <h4>Match Result</h4>
    </div>
<br>

    <div (click)="live()" class=" d-flex justify-content-center create">
      <h4>Live Match</h4>
    </div>
    
<br>

    <div (click)="showUsers()" class=" d-flex justify-content-center create">
      <h4>Users</h4>
    </div>
    <br>
    <div (click)="rules()" class=" d-flex justify-content-center create">
      <h4>Game Rules</h4>
    </div>
    <br>

    <div (click)="players()" class=" d-flex justify-content-center create active">
      <h4>Players</h4>
    </div>
    <br>
    <div (click)="allTeam()" class=" d-flex justify-content-center create active">
      <h4>Teams</h4>
    </div>
    <br>

    <div (click)="createContest()" class="create d-flex justify-content-center">
      <h4>All Contests</h4>
    </div>
    <br> 

    <div (click)="password()"  class="create d-flex justify-content-center">
      <h4>Change Password </h4>
    </div>
    <br>
    <div (click)="map()"  class="create d-flex justify-content-center">
      <h4></h4> <h4>Map Contest Fixture</h4>
     </div>
     <br>
     <div (click)="userContest()"  class="create d-flex justify-content-center">
      <h4></h4> <h4>User Contests</h4>
     </div>
     <br>
    <br> 
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br><br>
    <br> 
    <br>
    <br>

  </div>
</nav>
