

  
<div class="ms-3" style="font-family: 'Courier New'">
  <h4>
    <span style="font-weight: bolder"> All Fixtures</span> (<span
      style="font-weight: bolder"
    >
      {{ allfixtureslength }} </span 
    >)
  </h4>
</div>
   
  <span >
  
  <div 
  
    *ngFor="let fixtures of allfixtures" 
    class="d-flex mt-5 justify-content-center"
  >
    <div
      class="card fixtureCard"  >
      <div class="row">
        <div class="d-flex mt-2 justify-content-center">
          <h5 style="font-family: Papyrus, fantasy; color: aliceblue">
            ICC &nbsp; Men's &nbsp; Cricket&nbsp; World&nbsp; Cup 
          </h5>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <span>
            <!-- India -->
            <img
              [hidden]="[fixtures.team1].toString() != 'India'"
              src="https://upload.wikimedia.org/wikipedia/en/8/8d/Cricket_India_Crest.svg"
              class="img-fluid rounded-start"
              alt="..."
              width="100px" 
              height="100px"
            />
            <!-- New Zealand -->
            <img
              [hidden]="[fixtures.team1].toString() != 'New Zealand'"
              src="https://seeklogo.com/images/N/new-zealand-cricket-logo-7F065D6B07-seeklogo.com.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Australia -->
            <img
              [hidden]="[fixtures.team1].toString() != 'Australia'"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv0oyrBY6mQdAQ_6s1-uKbUyrgdNpnBOthM1Xb7ECm&s"
              class="img-fluid rounded-start"
              alt="..."
              width="80px"
              height="100px"
            /> 
            <!-- Pakistan -->
            <img
              [hidden]="[fixtures.team1].toString() != 'Pakistan'"
              src="https://i.pinimg.com/1200x/57/4b/59/574b5916ad6e7bfeb7bb2d14056f7a0c.jpg"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Sri Lanka -->
            <img
              [hidden]="[fixtures.team1].toString() != 'Sri Lanka'"
              src="https://seeklogo.com/images/S/sri-lanka-cricket-logo-4400B813FF-seeklogo.com.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Englanad -->
            <img
              [hidden]="[fixtures.team1].toString() != 'England'"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDdTladfVMoNlhj-4rHow9ErvP8ephMIu9PP96P6x39Dom-sthbZZOSikosjuYiPwlhR8&usqp=CAU"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Afghanistan -->
            <img
              [hidden]="[fixtures.team1].toString() != 'Afghanistan'"
              src="https://upload.wikimedia.org/wikipedia/en/4/47/Afghanistan_Cricket_Board_logo.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- South Frica -->
            <img
              [hidden]="[fixtures.team1].toString() != 'South Africa'"
              src="https://s.ndtvimg.com/images/entities/300/south-africa-2117.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Yet to be announced -->
            <img
              [hidden]="[fixtures.team1].toString() != 'Yet to be Announced'"
              src="https://e0.pxfuel.com/wallpapers/479/344/desktop-wallpaper-cricket-club-logo-cricket-drawing-drawings-cricket-logo-thumbnail.jpg"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
          </span>
        </div>
        <div class="col-md-6">
          <div
            style="font-family: Papyrus, fantasy; color: aliceblue"
            class="card-body"
          >
            <span class="d-flex justify-content-center">
              <h3 class=" dd card-title" style="width: 300px">
                {{ fixtures.team1 }}
              </h3>
              <h3 class=" dd card-title" style="width: 300px">
                {{ fixtures.team2 }}
              </h3>
            </span>
            <br />
            <span class="d-flex justify-content-center">
              <br />
              <h6 class="card-title">
                Venue :&nbsp;&nbsp;
                {{ fixtures.venue }}
              </h6>
              |
              <h6 class="card-title">
                &nbsp;&nbsp;Stage :&nbsp;&nbsp;
                {{ fixtures.stage }}
              </h6> 
            </span>
           
            <br />
            <span class="d-flex justify-content-center">
              <br />
              <h6 class="card-title">
                Date / Time : &nbsp;&nbsp;&nbsp;&nbsp;
                {{
                  fixtures.datetime | date : "mediumDate"
                }}&nbsp;&nbsp;&nbsp;&nbsp;
                {{ fixtures.datetime | date : "shortTime" }}
              </h6>
            </span>
            <span>
              <div class=" d-flex justify-content-center">
  
                <button class="btn btn-dark btn_contests" (click)="avaiContests(fixtures)">  Show Available Contests</button>
              </div>
            </span>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <span>
            <!-- India -->
            <img
              [hidden]="[fixtures.team].toString() != 'India'"
              src="https://upload.wikimedia.org/wikipedia/en/8/8d/Cricket_India_Crest.svg"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- New Zealand -->
            <img
              [hidden]="[fixtures.team2].toString() != 'New Zealand'"
              src="https://seeklogo.com/images/N/new-zealand-cricket-logo-7F065D6B07-seeklogo.com.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Australia -->
            <img
              [hidden]="[fixtures.team2].toString() != 'Australia'"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv0oyrBY6mQdAQ_6s1-uKbUyrgdNpnBOthM1Xb7ECm&s"
              class="img-fluid rounded-start"
              alt="..."
              width="80px"
              height="100px"
            />
            <!-- Pakistan -->
            <img
              [hidden]="[fixtures.team2].toString() != 'Pakistan'"
              src="https://i.pinimg.com/1200x/57/4b/59/574b5916ad6e7bfeb7bb2d14056f7a0c.jpg"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Sri Lanka -->
            <img
              [hidden]="[fixtures.team2].toString() != 'Sri Lanka'"
              src="https://seeklogo.com/images/S/sri-lanka-cricket-logo-4400B813FF-seeklogo.com.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Englanad -->
            <img
              [hidden]="[fixtures.team2].toString() != 'England'"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDdTladfVMoNlhj-4rHow9ErvP8ephMIu9PP96P6x39Dom-sthbZZOSikosjuYiPwlhR8&usqp=CAU"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Afghanistan -->
            <img
              [hidden]="[fixtures.team2].toString() != 'Afghanistan'"
              src="https://upload.wikimedia.org/wikipedia/en/4/47/Afghanistan_Cricket_Board_logo.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- South Frica -->
            <img
              [hidden]="[fixtures.team2].toString() != 'South Africa'"
              src="https://s.ndtvimg.com/images/entities/300/south-africa-2117.png"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
            <!-- Yet to be announced -->
            <img
              [hidden]="[fixtures.team1].toString() != 'Yet to be Announced'"
              src="https://e0.pxfuel.com/wallpapers/479/344/desktop-wallpaper-cricket-club-logo-cricket-drawing-drawings-cricket-logo-thumbnail.jpg"
              class="img-fluid rounded-start"
              alt="..."
              width="100px"
              height="100px"
            />
          </span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
  </span>
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br /><br />
  <br /><br />