 <div class="ms-3">
  <h1 style="font-family: 'Courier New'">
    {{ userService.currentUserTeamA }} vs {{ userService.currentUserTeamB }}
  </h1>
</div>
<div class="ms-3" style="font-family: 'Courier New'">
  <h4>
    <span style="font-weight: bolder"> All Contests</span> (<span
      style="font-weight: bolder"
    >
      {{ mapContestService.ultraFinalSize }} </span
    >)
  </h4>
</div>

<div class="container" style="color: rgb(255, 255, 255)">
  <div
    class="card fixtureCard mt-3"
    style="font-family: 'Times New Roman '"
    *ngFor="let availableContest of mapContestService.ultraFinalCurrentContests"
  >
    <div class="card-body d-flex justify-content-between">
      <span style="font-family: 'Times New Roman '">
        <h5 class="card-title"> 
          Contest Name : {{ availableContest.contestname }}
        </h5>

        <h6 class="card-subtitle mb-2">
          Contest ID : {{ availableContest.id }}
        </h6>
      </span>
      <h4 style="font-family: 'Courier New'">
        {{ userService.currentUserTeamA }} vs {{ userService.currentUserTeamB }}
      </h4>
      <span>
        <h6 class="card-subtitle mb-2">
          Entry Fee : &#8377; {{ availableContest.entryfee }}
        </h6>
      </span>
    </div>

    <div
      style="font-family: 'Courier New'"
      class="card-body row d-flex justify-content-between"
    >
      <!-- Toal prize -->
      <span class="col-md-3">
        <img
          class="img-fluid"
          width="70px"
          src="https://cdn-icons-png.flaticon.com/128/639/639364.png"
          alt="total"
        />

        <div>Total Prize money:&#8377; {{ availableContest.prizemoney }}</div>
      </span>

      <span class="d-flex col-md-3 justify-content-center">
        <!-- 1st Prize -->
        <span class="me-4"
          ><img
            class="img-fluid"
            width="70px"
            src="https://cdn-icons-png.flaticon.com/128/2583/2583344.png"
            alt="1st"
          />
          <h5 class="text-center">&#8377;{{ availableContest.rank1 }}</h5>
        </span>
        <!-- 2n Prize -->
        <span class="me-4">
          <img
            class="img-fluid"
            width="70px"
            src="https://cdn-icons-png.flaticon.com/128/11006/11006245.png"
            alt="2nd"
          />
          <h5 class="text-center">&#8377;{{ availableContest.rank2 }}</h5></span
        >
        <!-- 3rd Prize -->
        <span
          ><img
            class="img-fluid"
            width="70px"
            src="https://cdn-icons-png.flaticon.com/128/11006/11006261.png"
            alt="3rd"
          />
          <h5 class="text-center">&#8377;{{ availableContest.rank3 }}</h5></span
        >
      </span>
      <span class="col-md-3 d-flex justify-content-end">
        <span class="me-3">
          <div>Min Users:{{ availableContest.minsize }}</div>
          <div>Max Users:{{ availableContest.maxsize }}</div>
        </span>
        <button class="btn btn-success" style="height: 40px" (click)="join(availableContest)">Join</button></span
      >
    </div>
  </div>
</div>
