<br />
<br />
<br />
<br />   
<br /> 
<div class="d-flex justify-content-center">
  <svg xmlns="http://www.w3.org/2000/svg" width="120px" data-name="Layer 1" viewBox="0 0 32 32" id="father"><path fill="#00ffe5" d="M29.5,26.31V31.5H2.5V26.31a5.99044,5.99044,0,0,1,4.7-5.85L16,18.5l8.8,1.96A5.99044,5.99044,0,0,1,29.5,26.31Z"></path><path fill="#ffdaa7" d="M19,16.5v2a3,3,0,0,1-6,0v-2Z"></path><path fill="#ffdaa7" d="M22.09756,5.84959v6.21952A6.09755,6.09755,0,0,1,16,18.16667h0a6.09755,6.09755,0,0,1-6.09755-6.09755V6.84959Z"></path><path fill="#ffdaa7" d="M22.09756,5.84959v6.21952A6.09755,6.09755,0,0,1,16,18.16667h0a6.09755,6.09755,0,0,1-6.09755-6.09755V6.84959Z"></path><path fill="#4ebaea" d="M9.90244,10.84959q.343-1.76574.686-3.5315a6.45291,6.45291,0,0,0,1.8968.562c1.81648.24051,3.76047-.61212,5.92842-.90338a3.88016,3.88016,0,0,1,2.3927-.02352,2.33191,2.33191,0,0,1,.80647.68941,2.91792,2.91792,0,0,1,.48474,1.64908c.00081.01842.00018.00753,0,.83105,0,.14478,0,.58447,0,.72688a4.34818,4.34818,0,0,0,.80666-1.03187,4.61771,4.61771,0,0,0,.53447-2.61521A5.28712,5.28712,0,0,0,22.5,4.5a5.35693,5.35693,0,0,0-3-2c-1.44568-.3324-2.8573.057-4.75633.58086a12.54969,12.54969,0,0,1-2.16878.39212A3.88856,3.88856,0,0,1,11.5,3.5c-1.28859-.27537-1.8539-2.3902-2-3A4.22889,4.22889,0,0,0,7.83044,4.10553a3.49423,3.49423,0,0,0,.8779,1.81522,6.79422,6.79422,0,0,0,1.19409,4.92885Z"></path><path fill="#ffffff" d="M22.0976,10.29163l-.00006-.00073c-.00006.19037,0,.45416.00006.55872l.00006-.00006C22.09784,10.30176,22.09827,10.30774,22.0976,10.29163Z"></path><path d="M24.90869,19.97217l-5.43488-1.213c.00653-.0871.02618-.17041.02618-.25916v-.851a6.58946,6.58946,0,0,0,3.1001-5.57922V11.03857a4.84,4.84,0,0,0,.74023-.97607,5.1039,5.1039,0,0,0,.59717-2.88965A5.79252,5.79252,0,0,0,22.90625,4.209,5.88611,5.88611,0,0,0,19.6123,2.0127c-1.56738-.36133-3.082.05713-5.01416.58984a12.28051,12.28051,0,0,1-2.07031.37256,3.97353,3.97353,0,0,1-.92334.03613C10.83594,2.84668,10.26465,1.5459,9.98633.38379A.50027.50027,0,0,0,9.2002.09961,4.71051,4.71051,0,0,0,7.33594,4.17725a3.93616,3.93616,0,0,0,.84863,1.89941,7.36878,7.36878,0,0,0,.2041,2.72412A7.28,7.28,0,0,0,9.3999,10.978v1.09186a6.51919,6.51919,0,0,0,1.93652,4.66357A6.59088,6.59088,0,0,0,12.5,17.64764V18.5c0,.08875.01965.172.02618.25909L7.0918,19.97168A6.456,6.456,0,0,0,2,26.31006V31.5a.49971.49971,0,0,0,.5.5h27a.49971.49971,0,0,0,.5-.5V26.31006A6.45513,6.45513,0,0,0,24.90869,19.97217ZM10.09766,7.22266l-.4292,2.20947a6.29629,6.29629,0,0,1-.46533-3.43945.49846.49846,0,0,0-.123-.40625A2.99773,2.99773,0,0,1,8.3252,4.0332a3.30023,3.30023,0,0,1,.92188-2.60107c.35986,1.06934,1.01514,2.31445,2.14844,2.55664a4.11707,4.11707,0,0,0,1.22559-.01758,13.41659,13.41659,0,0,0,2.25684-.40869c1.85107-.51025,3.188-.87793,4.50977-.5752a4.83577,4.83577,0,0,1,2.70605,1.8042,4.76947,4.76947,0,0,1,.8457,2.44141,4.28337,4.28337,0,0,1-.23389,1.83057A3.5257,3.5257,0,0,0,22.00732,7.335a2.826,2.826,0,0,0-.97705-.82861,3.21255,3.21255,0,0,0-2.1665-.11426c-.17139.03271-.34375.06592-.5166.08887a23.72946,23.72946,0,0,0-2.34668.47412,9.94812,9.94812,0,0,1-3.44971.4292,5.91167,5.91167,0,0,1-1.749-.51855.5.5,0,0,0-.7041.35693ZM12.042,16.0249a5.52629,5.52629,0,0,1-1.64209-3.95508V10.90967l.5625-2.894a6.85111,6.85111,0,0,0,1.457.35986,10.53655,10.53655,0,0,0,3.813-.44775A22.84594,22.84594,0,0,1,18.48,7.47217c.19141-.02588.38184-.062.57129-.09814A2.34408,2.34408,0,0,1,20.582,7.3999a1.86193,1.86193,0,0,1,.63672.55029A3.4291,3.4291,0,0,1,21.6123,10.729c-.00372.01489.00574.02869.00342.04364a.47065.47065,0,0,0-.01562.07745v1.21973A5.59223,5.59223,0,0,1,12.042,16.0249Zm6.458,2.149V18.5a2.5,2.5,0,0,1-5,0v-.32623a6.54726,6.54726,0,0,0,5,.00012ZM29,31H24V27.5a.5.5,0,0,0-1,0V31H9V27.5a.5.5,0,0,0-1,0V31H3V26.31006a5.46239,5.46239,0,0,1,4.30908-5.3623l5.42767-1.21143a3.484,3.484,0,0,0,6.52649.00006l5.42816,1.21185A5.46152,5.46152,0,0,1,29,26.31006Z"></path></svg>

</div>
<br>
<div class="d-flex justify-content-center">
  <h1 class="display-6" >
    Users Log In
  </h1> 
</div>
                                        
<div class="container justify-content-center ">
    <br>    
    <form class="justify-content-center " [formGroup]="userForm" 
    (ngSubmit)="onFormSubmit()"> 
      <input class="llll" type="text" title="username" formControlName="username"   placeholder="    Enter  username" />
      <input
        type="password" class="llll" title="password" formControlName="password"
        placeholder="    Enter password"
      /> 
      <div *ngIf="errStatus" class=" d-flex justify-content-around">

        <h5 class="invalid">
          ❌  Invalid username or Password ❌ 
        </h5>
    </div>
      
      <div class="submitBtn d-flex justify-content-around">


          <button type="submit" class="btn btn-danger">Login</button>
          <button type="submit"  (click)="login()" class="btn btn-danger">Sign Up</button>
      </div>
    
    </form>
  </div>
